.board{
	display: flex;
  flex-wrap: wrap;
  margin: 0 0 3em 0;
	padding: 0;
	.table{
		width:1000px;
	}
	.row{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
	}
	.cell{
	  -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    flex: 0 1 auto;
    width: 40px;
		border: 1px solid;
		&.title{
			background-color:#e5e6fd
		}
		&.active{
			background-color:#c6ffce;
		}
	}

}
